.title-page {
    padding-left: 22.5px;
    color: #989898;
    font-family: 'Open Sans';
    font-size: 15px;
    margin-top: 65px;
    font-style: italic;
}

.catalog-selection-row {
    background-color: #dfdfdf;
    border-radius: 3px;
    height: 38px;
    margin-top: 20px;
    display: flex;
    box-shadow: 2px 3px 3px #999;
}

.catalog-selection-row-counter {
    color: #3b3b3b;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 38px;
    width: 50%;
    padding-left: 10px;
    display: flex;
}

.catalog-selection-ul {
    height: 38px;
    margin: 0;
    padding-right: 10px;
}

.catalog-selection-row-list {
    height: 38px;
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.catalog-selection-item {
    display: inline-flex;
    height: 100%;
    align-items: center;
}

.catalog-selection-item a {
    color: #3b3b3b;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
}

.catalog-selection-item a:hover,
.catalog-selection-item a:active,
.catalog-selection-item a:focus {
    color: #50b43f !important;
    font-weight: 500;
}

.catalog-scatter {
    background-color: #ededed;
    background-image: url(../img/bg_news.png);
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 15px;
    padding: 20px 0;
}

.catalog-scatter-item {
    width: 95%;
    margin: 5% 2.5%;
    height: 225px;
    background-color: #f4f4f4;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.01);
}

.catalog-scatter-item:hover {
    box-shadow: 0 0 26.3px 8.8px rgba(0, 0, 0, 0.17);
}

.catalog-scatter-item-header {
    height: 46px;
    border: 4px solid #f4f4f4;
    position: relative;
    border-radius: 23px;
    width: 155px;
    top: -23px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

.catalog-scatter-item-header-red {
    background-color: #ff8080;
}

.catalog-scatter-item-header-green {
    background-color: #cdeace;
}

.catalog-scatter-item-header-wheat {
    background-color: #f3d4b3;
}

.catalog-scatter-item-image {
background-size: 270%;
    background-repeat: no-repeat;
    height: 100%;
    background-position-y: 50%;
    position: relative;
    float: left;
    width: 50%;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
}

.catalog-scatter-item-image1 {
    background-image: url(../img/catalog1.svg);
}

.catalog-scatter-item-image2 {
    background-image: url(../img/catalog2.svg);
}

.catalog-scatter-item-image3 {
    background-image: url(../img/catalog3.svg);
}

.catalog-scatter-item-image4 {
    background-image: url(../img/catalog4.svg);
}

.catalog-scatter-item-image5 {
    background-image: url(../img/catalog5.svg);
}

.catalog-scatter-item-image6 {
    background-image: url(../img/catalog6.svg);
}

.catalog-scatter-item-image7 {
    background-image: url(../img/catalog7.svg);
}

.catalog-scatter-item-image8 {
    background-image: url(../img/catalog8.svg);
}

.catalog-scatter-item-image9 {
    background-image: url(../img/catalog9.svg);
}

.catalog-scatter-item-image10 {
    background-image: url(../img/catalog10.svg);
}

.catalog-scatter-item-image11 {
    background-image: url(../img/catalog11.svg);
}

.catalog-scatter-item-image12 {
    background-image: url(../img/catalog12.svg);
}

.catalog-scatter-item-headline {
color: #3b3b3b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    float: right;
    padding: 0px 20px 0 10px;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    margin-top: 15px;
    display: inline-flex;
}

.catalog-scatter-item-desc {
    color: #b9b9b9;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 10px;
    padding: 0px 20px 0 10px;
    display: inline-flex;
}

.catalog-scatter-item-header-black {
    color: #010101;
}

.catalog-scatter-flex {
    display: inline-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
}

.catalog-scatter-item-more {
    display: flex;
    color: #3b3b3b;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    padding: 0px 20px 0 10px;
    margin-top: 10px;
    align-items: center;
}

.catalog-scatter-item-more:hover,
.catalog-scatter-item-more:active,
.catalog-scatter-item-more:focus {
    color: #3b3b3b;
}

.footer-catalog-selection-row {
    margin-top: 0;
    margin-bottom: 2px;
}