.title-page {
    padding-left: 22.5px;
    color: #989898;
    font-family: 'Open Sans';
    font-size: 15px;
    margin-top: 65px;
    font-style: italic;
    margin-bottom: 20px;
}
.contacts-main-office{
    color: #1eb53a;
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 700;
    margin-top: 10px;
    text-align: left;
}
.contacts-adresses{
color: #3b3b3b;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 30px;
}
.contacts-item{
    color: #3b3b3b;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 22px;
    list-style: none;
    margin-top: 16px;
    position: relative;
    left: -10px;
    padding-left: 44px;

}
.contacts-item1:before{
content: "";
    position: absolute;
    background-image: url(../img/phone-green.png);
    background-repeat: no-repeat;
    background-size: 15px, 15px;
    background-position: left;
    height: 110px;
    display: flex;
    width: 40px;
    justify-content: center;
    align-items: center;
    left: 0;
}
.contacts-item2:before{
content: "";
    position: absolute;
    background-image: url(../img/skype.png);
    background-repeat: no-repeat;
    background-size: 15px, 15px;
    background-position: left;
    height: 22px;
    display: flex;
    width: 40px;
    justify-content: center;
    align-items: center;
    left: 0;
}
.contacts-item3:before{
content: "";
    position: absolute;
    background-image: url(../img/mail-green.png);
    background-repeat: no-repeat;
    background-size: 15px, 15px;
    background-position: left;
    height: 22px;
    display: flex;
    width: 40px;
    justify-content: center;
    align-items: center;
    left: 0;
}
.contacts-item4:before{
content: "";
    position: absolute;
    background-image: url(../img/clock-green.png);
    background-repeat: no-repeat;
    background-size: 15px, 15px;
    background-position: left;
    height: 22px;
    display: flex;
    width: 40px;
    justify-content: center;
    align-items: center;
    left: 0;
}
.contacts-black-text{
    font-weight: 600;
}
.contacts-button{
max-width: 200px;
    height: 40px !important;
    border-radius: 20px;
    color: #3b3b3b;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 700;
    display: flex;
    align-items: center;
    letter-spacing: -0.2px;
    justify-content: center;
    line-height: 11px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #b2deb4;
    border: 4px solid #cce9cd;
    text-transform: uppercase;
}
.contacts-button:hover,
.contacts-button:active,
.contacts-button:focus{
    color: #3b3b3b;
}
.g{
    position: absolute;
    opacity: 0.5;
    color: #f8f9fb;
    font-family: "Open Sans";
    font-size: 875px;
    height: 100% !important;
    right: -550px;
    font-weight: 700;
    top: 0 !important;
    line-height: 371px;
    text-shadow: 0 0 230px #89de84;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    z-index: -1;
    overflow: hidden;
}
.row-flex{
        display: flex;
    flex-flow: row wrap;
}
.contacts-logo{
    background-image: url(../img/grass-logo.png);
    background-repeat: no-repeat;
    background-position: 25%;
}
#map{
    height: 380px;
    display: block;
}
.contacts-main-office1{
    margin-top: 30px;
}
.fr{
    float: right;
}
.fl{
    float: left;
}
