/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1199px) {
    .search_block {
        padding-left: 0 !important;
    }
    .cart_stack {
        height: 45px;
        margin-bottom: 13px;
    }
    .search_block {
        height: 45px;
        padding-left: 0 !important;
    }
    .cart_block {
        height: 45px;
    }
    .first-carousel-item {
        height: 30rem;
        padding: 1rem;
        background-color: #efefef;
    }
    #owl-carousel-4 {
        position: relative;
        right: 14px;
    }
}








/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .search_block {
        height: 31px;
    }
    .cart_block {
        height: 31px;
    }
    .navbar {
        display: none;
    }
    .cart_stack {
        height: 89px;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search_block {
        height: 45px;
        padding-left: 0 !important;
    }
    .cart_block {
        height: 45px;
    }
    .phone_number {
        padding-left: 25px;
    }
    .cf {
        display: flex;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
        -webkit-align-items: center;
        align-items: center;
        height: 89px;
    }
    .call_me_block {
        display: none;
    }
    .contact_stack {
        display: none;
    }
    .navbar {
        margin-top: 75px;
    }
    .search_block {
        display: none;
    }
    .first-carousel-item1 {
        background-image: url(../img/stelag2.png);
        background-repeat: no-repeat;
        background-position-y: -10px;
        background-position-x: 0px;
        background-size: contain;
    }
    .first-carousel-item {
        height: 34rem;
        padding: 1rem;
        background-color: #efefef;
    }
    #owl-carousel-1 {
        position: relative;
        top: -20px;
        z-index: 5000;
    }
    #owl-carousel-4 {
        position: relative;
        right: 14px;
    }
    .footer-number {
        font-size: 18px;
    }
    .footer-rights {

        white-space: normal;
    }
}











/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .logo1 {
        width: 117px;
        height: 39px;
        margin-right: 12px;
    }
    .logo2 {
        width: 58px;
        height: 39px;
    }
    .logo3 {
        width: 39px;
        height: 39px;
        left: -15px;
    }
    .hamburger .line {
        width: 33px;
        height: 3px;
        background-color: #04952c;
        display: block;
        margin: 7px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    #hamburger-1.is-active .line:nth-child(1) {
        -webkit-transform: translateY(13px) rotate(45deg);
        -ms-transform: translateY(13px) rotate(45deg);
        -o-transform: translateY(13px) rotate(45deg);
        transform: translateY(10px) rotate(45deg);
    }
    #hamburger-1.is-active .line:nth-child(3) {
        -webkit-transform: translateY(-13px) rotate(-45deg);
        -ms-transform: translateY(-13px) rotate(-45deg);
        -o-transform: translateY(-13px) rotate(-45deg);
        transform: translateY(-10px) rotate(-45deg);
    }
    .cart_box {
        width: 150px;
        position: relative;
        left: -13px;
        padding-right: 0;
    }
    .first-carousel-item1 {
        background-image: url(../img/stelag4.png);
        background-repeat: no-repeat;
        background-position-y: -10px;
        background-position-x: 0px;
        background-size: contain;
        background-position: center;
    }
    .first-carousel-item {
        height: 29rem;
        padding: 1rem;
        background-color: #efefef;
    }
    #owl-carousel-3 .owl-stage-outer {
        left: 0;
    }
    #owl-carousel-4 {
        position: relative;
        right: 0;
    }
    .footer-number {
        font-size: 22px;
    }
    .footer-rights {

        white-space: normal;
    }
    .states-blok1 {
        position: relative;
        top: 200px;
    }
    .states-blok2 {
        position: relative;
        top: 200px;
    }
    .states-blok3 {
        position: relative;
        bottom: 200px;
    }
    .states-blok4 {
        position: relative;
        bottom: 200px;
    }
}











/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .logo1 {
        width: 117px;
        height: 39px;
        margin-left: 15px;
        margin-right: 12px;
    }
    .cart_stack {
        height: 60px;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cart_box {
        width: 150px;
        position: relative;
        left: -13px;
        padding-right: 0;
    }
    .logo_stack {
        height: 60px;
        display: flex;
        justify-content: center;
    }
    .cf {
        height: 60px;
    }
    .navbar {
        margin-top: 120px;
    }
    .first-carousel-item1 {
        background-image: url(../img/stelag3.png);
        background-repeat: no-repeat;
        background-position-y: -10px;
        background-position-x: 0px;
        background-size: contain;
        background-position: center;
    }
    .first-carousel-item {
        height: 24rem;
        padding: 1rem;
        background-color: #efefef;
    }
    .recommend-text {
        width: 220px !important;
        background-color: #fafafa;
    }
    .news_text {
        width: 100% !important;
    }
    .recommend_hr {
        margin: 0;
        position: relative;
        top: 20px;
    }
    #owl-carousel-4 {
        position: relative;
        right: 0;
    }
    .footer-rights {

        white-space: normal;
    }
    .footer-number {
        font-size: 22px;
    }
    .states-blok1 {
        position: relative;
        top: 470px;
    }
    .states-blok2 {
        position: relative;
        top: 175px;
        height: 120px;
    }
    .states-blok3 {
        position: relative;
        top: -320px;
        height: 200px;
    }
    .states-blok4 {
        position: relative;
        top: -335px;
    }
    .states-tile2 {
        padding: 0;
        float: right;
        height: 350px;
    }
}











/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {

    .novelties-plus {
        right: 10px;
    }
    .novelties-plus-extended {

        right: 33px;
    }
    #owl-carousel-4 {
        position: relative;
        right: 0;
    }
}












/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}











/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}











/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}











/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}











/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}