.title-page {
    padding-left: 22.5px;
    color: #989898;
    font-family: 'Open Sans';
    font-size: 15px;
    margin-top: 65px;
    font-style: italic;
}
.news-selection-row{
background-color: #dfdfdf;
    border-radius: 3px;
    height: 38px;
    margin-top: 20px;
    display: flex;
    box-shadow: 2px 3px 3px #999;
}
.news-selection-row-counter{
color: #3b3b3b;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 38px;
    width: 50%;
    padding-left: 10px;
    display: flex;
}
.news-selection-ul{
height: 38px;
    margin: 0;
    padding-right: 10px;
}
.news-selection-row-list{
height: 38px;
    display: flex;
    width: 50%;
    justify-content: flex-end;
}
.news-selection-item{
	display: inline-flex;
    height: 100%;
    align-items: center;
}
.news-selection-item a{
color: #3b3b3b;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
}
.news-selection-item a:hover,
.news-selection-item a:active,
.news-selection-item a:focus{
color: #50b43f !important;
font-weight:500;
}
.news-scatter{
    background-color: #ededed;
    background-image: url(../img/bg_news.png);
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 2px;
    padding: 20px 0;
}
.news-scatter-item{
    width: 95%;
    margin: 5% 2.5%;
    height: 300px;
    background-color: #f4f4f4;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.01);
}
.news-scatter-item:hover{
box-shadow: 0 0 26.3px 8.8px rgba(0, 0, 0, 0.17);
}
.news-scatter-item-header{
	    height: 46px;
    border: 4px solid #f4f4f4;
    position: relative;
    border-radius: 23px;
    width: 155px;
    top: -23px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}
.news-scatter-item-header-red{
	background-color: #ff8080;
}
.news-scatter-item-header-green{
	background-color: #cdeace;
}
.news-scatter-item-header-wheat{
	background-color: #f3d4b3;
}
.news-scatter-item-image{
    background-image: url(../img/news1.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 77%;
    position: relative;
    float: left;
    width: 50%;
    top: -5%;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
}
.news-scatter-item-headline{
    color: #3b3b3b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    float: right;
        padding: 0px 20px 0 10px;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
}
.news-scatter-item-desc{
    color: #b9b9b9;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 10px;
    padding: 0px 20px 0 10px;
    display: inline-flex;
}
.news-scatter-item-header-black{
	color: #010101;
}
.news-scatter-flex{
    display: inline-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
}
.news-scatter-item-more{
display: flex;
    color: #3b3b3b;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    padding: 0px 20px 0 10px;
    margin-top: 10px;
    align-items: center;
}
.news-scatter-item-more:hover,
.news-scatter-item-more:active,
.news-scatter-item-more:focus{
    color: #50b43f;
}
.footer-news-selection-row{
        margin-top: 0;
    margin-bottom: 2px;
}